html, body
{
    background: #404040;
    overflow: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Raleway',sans-serif;
    -webkit-user-select: none;
}

#body
{
    width: 960px;
    margin: 0 auto;
    background: #ddd;
}

#channelArea
{
    margin-left:auto;
    margin-right:auto;
}

#channelMenu
{
    margin:0;
    width: 100%;
    width: 100%;
    list-style-type: none;
    margin: auto;
    white-space: nowrap;
}

#channelMenu ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262626;
}

#channelMenu li
{
    color: white;
    text-align: center;
    padding: 4px 8px;
    text-decoration: none;
    font-size: 18px;
}

#channelMenu > ul {
    white-space: nowrap;
}

#channelMenu > ul > li {
  display: inline-block;
 // float: none;
  margin: 0 -3px 0 0;
}

#channelMenu li.gray:hover:not(.active)
{
    -webkit-transition: ease-in-out all .4s;
    background-color: #767676;
}

#channelMenu li.orange:hover:not(.active)
{
    -webkit-transition: ease-in-out all .4s;
    background-color: #767676;
}

#channelMenu li.red:hover:not(.active)
{
    -webkit-transition: ease-in-out all .4s;
    background-color: #AA6666;
}

#channelMenu li.green:hover:not(.active)
{
    -webkit-transition: ease-in-out all .4s;
    background-color: #66AA66;
}

#channelMenu li.yellow:hover:not(.active)
{
    -webkit-transition: ease-in-out all .4s;
    background-color: #6666AA;
}

#channelMenu li.blue:hover:not(.active)
{
    -webkit-transition: ease-in-out all .4s;
    background-color: #66AAAA;
}

#channelMenu .active
{
    background-color: #c75414;
}

#col1
{
    display: inline-block;
    width: 500px;
    float: left;
    background-color: #333333;
}

#col2
{
    display: inline-block;
    width: 0%;
    float: left;
    height: 100%;
    background-color: #444444;
}

#channelUsers, #chatRoom
{
    width: 100%;
}

#channelUsers
{
    float: left;
    width: 150px;
}

#channelUsers table
{
    background-color: #666699;
    border-collapse: collapse;
    width: 100%;
    font-size: 16px; font-weight: 200;
    color: lightgray;
}

#channelUsers tr
{
    width: 100%;
    border-bottom: #555555 1px solid;
}

#channelUsers td
{
    padding: 4px 8px;
    width: 100%;
    text-align: center;
}

#channelUsers tr:last-child
{
    border-bottom: none;
}

#channelUsers tr:hover:not(.inactive)
{
    -webkit-transition: ease-in-out all .2s;
    background-color: #d95e4b;
}

#channelUsers .active
{
    background-color: #559955;
}

#channelUsers .inactive
{
    background-color: #999999;
    color: #666666;
}

#chatRoom
{
    margin-left: 10px;
    float: left;
    width: 100%;
}

#chatbox, #input
{
    background-color: #dddddd;
    padding: 8px 8px;
    font-size: 18px; font-weight: 200;
    resize: none;
    outline: none;
    border-left: #4A4A4A 2px solid;
    border-right: #4A4A4A 2px solid;
    margin: 2px 2px 2px 2px;
    border-radius: 4px;
    margin: 2px 2px 2px 2px;
}

#input
{
    padding: 2px 2px;
}

#controlTable
{
    margin-left: 110px;
}

#controlTable tr
{
    color: gray;
    text-align: center;
}

#controlTable td
{
    width: 33%;
}

#controlTable td:hover
{
    background-color: dimgray;
}

#otherPanels
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #575757;
    width: 100%;
    list-style-type: none;
    margin: auto;
    white-space: nowrap;
}

#otherPanels li
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 16px;
    background-color: #222222;
}

#otherPanels li:hover
{
    background-color: black;
    -webkit-transition: ease-in-out all .4s;

}

#otherPanels > ul {
    white-space: nowrap;
}

#otherPanels > ul > li {
  display: inline-block;
  float: none;
  margin: 0 -3px 0 0;
}

#otherPanels li.active
{
    background-color: #444444;
}

#resourceTree
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 110%;
    list-style-type: none;
    margin: auto;
    white-space: nowrap;
    background-color: #151515;
}

#resourceTree li
{
    color: white;
    text-align: left;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 16px;
    background-color: #444444;
    border-bottom: 1.5px solid #282828;
    -webkit-transition: ease-in-out all .2s;
}

#resourceTree .album
{
    margin-left: 16px;
}

#resourceTree .sort,
#resourceTree .external,
#resourceTree .addAll
{
    margin-left: 8px;
}

#resourceTree .song
{
    margin-left: 32px;
}

#resourceTree li:hover, #resourceTree li.selected
{
    background-color: #151515;
}

#resourceTree li.active
{
    background-color: #151515;
    border: 0;
}

#resourceTree .album:not(.hidden), #resourceTree .setting:not(.hidden)
{
    background-color: #777777;
    border-bottom: 1.5px solid #333333;
    display:block;
}

#resourceTree .album:hover, #resourceTree .setting:hover
{
    background-color: #5d5d5d;
}

#resourceTree .album.active
{
    background-color: #5D5D5D;
}

#resourceTree .song:not(.hidden),
#resourceTree .sort:not(.hidden),
#resourceTree .external:not(.hidden),
#resourceTree .addAll:not(.hidden)
{
    color: black;
    background-color: #CCCCCC;
    border-bottom: 1.5px solid #333333;
    display: block;
}

#resourceTree .song:hover,
#resourceTree .sort:hover,
#resourceTree .external:hover,
#resourceTree .addAll:hover
{
    background-color: white;
}

#resourceTree .external input
{
    color: black;
    font-size: 16px;
}

#resourceTree .external button, #resourceTree .external label
{
    font-size: 16px;
    border-radius: 2px;
    background-color: #999999;
}

#resourceTree .external label
{
    padding: 4px 6px 4px 6px;
    border-top: 1.5px solid #CCCCCC;
    border-right: 1.5px solid #333333;
    border-bottom: 1.5px solid #333333;
    border-left: 1.5px solid #CCCCCC;
}

#resourceTree .external button:hover,
#resourceTree .external label:hover
{
    background-color: #B4B4B4;
}

.contextContents
{
    position: absolute;
    display: block;
    z-index: 10;
}

.contextItems
{
    margin:0;
    list-style-type: none;
    margin: auto;
    white-space: nowrap;
}

.contextItem
{
    font-size: 16px;
    color: #333333;
    background-color: #CCCCCC;
    line-height: 32px;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
}
.contextItem:not(:last-child){border-bottom: 1.5px solid gray;}
.contextItem:hover{background-color: white;}

#settings
{
    color: white;
    width: 90%;
    margin-left: 5%;
    white-space: nowrap;
}

#settings input, #settings fieldset
{
    margin-top: 12px;
    font-size: 16px;
}

#settings input
{
    text-align: center;
}

#settings div > label
{
    display: inline-block;
    width: 80px;
    text-align: left;
}

@-webkit-keyframes fadeEffect
{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect
{
    from {opacity: 0;}
    to {opacity: 1;}
}

.titleText
{
    font-size: 17px; font-weight: 200;
    text-align: center;
    color: lightgray;
    line-height: 2px;
}

.leftBound
{
    border-right: 1.5px solid dimgray;
    float: left;
}

.rightBound
{
    border-left: 1.5px solid dimgray;
    float:right;
}

.channelInfo
{
    color: white;
    margin-left: 8px;
    //padding: 4px 8px;
    font-size: 18px;
    margin-top: -4px;
    position:absolute;
    display:inline-block;
    max-width:0%;
    overflow:hidden;
    transition:all 1s ease-in;
    //background: gray;
}

.tabcontent
{
    display: none;
    -webkit-animation: fadeEffect .5s;
}

.readonly
{
    color: #4A4A4A;
}

.hidden
{
    display: none;
}
