html, body
{
    background: #404040;
    overflow: hidden;
    webkit-app-region: drag;
    -webkit-user-select: none;
    margin: 0;
    padding: 0;
    font-family: 'Raleway',sans-serif;
}

#body
{
    width: 960px;
    margin: 0 auto;
    background: #ddd;
}

#channelArea
{
    margin-left:auto;
    margin-right:auto;
}

#channelMenu
{
    margin:0;
    width: 100%;
    width: 100%;
    list-style-type: none;
    margin: auto;
    white-space: nowrap;
    webkit-app-region: drag;

}

#channelMenu ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #262626;
}

#channelMenu li
{
    color: white;
    text-align: center;
    padding: 4px 8px;
    text-decoration: none;
    font-size: 18px;
}

#channelMenu > ul {
    white-space: nowrap;
}

#channelMenu > ul > li {
  display: inline-block;
 // float: none;
  margin: 0 -3px 0 0;
}

#channelMenu li.gray:hover:not(.active)
{
    -webkit-transition: ease-in-out all .4s;
    background-color: #767676;
}

#channelMenu li.orange:hover:not(.active)
{
    -webkit-transition: ease-in-out all .4s;
    background-color: #767676;
}

#channelMenu li.red:hover:not(.active)
{
    -webkit-transition: ease-in-out all .4s;
    background-color: #AA6666;
}

#channelMenu li.green:hover:not(.active)
{
    -webkit-transition: ease-in-out all .4s;
    background-color: #66AA66;
}

#channelMenu li.yellow:hover:not(.active)
{
    -webkit-transition: ease-in-out all .4s;
    background-color: #6666AA;
}

#channelMenu li.blue:hover:not(.active)
{
    -webkit-transition: ease-in-out all .4s;
    background-color: #66AAAA;
}

#channelMenu .active
{
    background-color: #c75414;
}

#col1
{
    display: inline-block;
    width: 500px;
    float: left;
    background-color: #333333;
}

#col2
{
    display: inline-block;
    width: 0%;
    float: left;
    height: 100%;
    background-color: #444444;
}

#nowPlaying, #channelUsers, #chatRoom
{
    width: 100%;
}

#nowPlaying
{
    float: left;
    width: 350px;
    background-color: #535353;
}

#centerAnchor
{
    margin-top: 24px;
}

#channelUsers
{
    float: left;
    width: 150px;
}

#imageBuffer
{
    width: 300px;
    height: 300px;
}

#imageBufer .inactive
{
    opacity: 0;
}

.coverArt
{
    position: absolute;
    width: 300px;
    height: 300px;
    padding: 0;
    line-height: 0;
    margin-left: 25px;
    background-color: black;
    transition:opacity 1s linear;
    opacity: 1;
}

#playListPanel
{
    width: 350px;
    //height: 100%;
    overflow: hidden;
    white-space: nowrap;
}

#playListScroll, #libraryScroll
{
    width: 100%;
    padding-right: 15px;
    overflow-y: auto;
    overflow-x: hidden;
}

#playList
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 350px;
    margin-top: 8px;
    white-space: nowrap;
    text-align: center;
    background: linear-gradient(to bottom, #494949 0%,#5d5d5d 50%,#494949 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: #FFF;
}

#playList li
{
    padding: 6px 4px;
    width: 100%;
    border-bottom: 1.5px solid #555555;
}

#playList li:first-child
{
    background-color: #5D5D5D;
    line-height: 12px;
    border-top: 1.5px solid #555555;
}

#playList li:first-child:hover
{
    background-color: #5D5D5D;
}

#playList li:hover
{
    background-color: #494949;
}

#songArtistAlbum
{
    margin-bottom: 0;
    width: 95%;
    text-align: center;
    font-size: 14px; font-weight: 200;
    color: lightgray;
    margin-top: -8px;
    padding: 4px 4px;
}

#musicControls
{
    margin-top: 15px;
    margin-left: 100px;
    width: 100px;
    height: 100px;
}

#channelUsers table
{
    background-color: #666699;
    border-collapse: collapse;
    width: 100%;
    font-size: 16px; font-weight: 200;
    color: lightgray;
}

#channelUsers tr
{
    width: 100%;
    border-bottom: #555555 1px solid;
}

#channelUsers td
{
    padding: 4px 8px;
    width: 100%;
    text-align: center;
}

#channelUsers tr:last-child
{
    border-bottom: none;
}

#channelUsers tr:hover:not(.inactive)
{
    -webkit-transition: ease-in-out all .2s;
    background-color: #d95e4b;
}

#channelUsers .active
{
    background-color: #559955;
}

#channelUsers .inactive
{
    background-color: #999999;
    color: #666666;
}

#chatRoom
{
    margin-left: 10px;
    float: left;
    width: 100%;
}

#chatbox, #input
{
    background-color: #dddddd;
    padding: 8px 8px;
    font-size: 18px; font-weight: 200;
    resize: none;
    outline: none;
    border-left: #4A4A4A 2px solid;
    border-right: #4A4A4A 2px solid;
    margin: 2px 2px 2px 2px;
    border-radius: 4px;
    margin: 2px 2px 2px 2px;
}

#input
{
    padding: 2px 2px;
}

#controlTable
{
    margin-left: 110px;
}

#controlTable tr
{
    color: gray;
    text-align: center;
}

#controlTable td
{
    width: 33%;
}

#controlTable td:hover
{
    background-color: dimgray;
}

#otherPanels
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #575757;
    width: 100%;
    list-style-type: none;
    margin: auto;
    white-space: nowrap;
}

#otherPanels li
{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 16px;
    background-color: #222222;
}

#otherPanels li:hover
{
    background-color: black;
    -webkit-transition: ease-in-out all .4s;

}

#otherPanels > ul {
    white-space: nowrap;
}

#otherPanels > ul > li {
  display: inline-block;
  float: none;
  margin: 0 -3px 0 0;
}

#otherPanels li.active
{
    background-color: #444444;
}

#resourceTree
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 110%;
    list-style-type: none;
    margin: auto;
    white-space: nowrap;
}

#resourceTree li
{
    color: white;
    text-align: left;
    padding: 8px 12px;
    text-decoration: none;
    font-size: 16px;
    background-color: #444444;
    border-bottom: 1.5px solid #282828;
    -webkit-transition: ease-in-out all .2s;
}

#resourceTree li:hover
{
    background-color: #151515;
}

#resourceTree li.active
{
    background-color: #333333;
}

#resourceTree .album:not(.hidden), #resourceTree .setting:not(.hidden)
{
    background-color: #777777;
    border-bottom: 1.5px solid #333333;
    display:block;
}

#resourceTree .album:hover, #resourceTree .setting:hover
{
    background-color: #555555;
}

#resourceTree .album.active
{
    background-color: #5D5D5D;
}

#resourceTree .song:not(.hidden), #resourceTree .sort:not(.hidden)
{
    color: black;
    background-color: #CCCCCC;
    border-bottom: 1.5px solid #333333;
    display: block;
}

#resourceTree .song:hover, #resourceTree .sort:hover
{
    background-color: #999999;
}

@-webkit-keyframes fadeEffect
{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect
{
    from {opacity: 0;}
    to {opacity: 1;}
}

.titleText
{
    font-size: 17px; font-weight: 200;
    text-align: center;
    color: lightgray;
    line-height: 2px;
}

.leftBound
{
    border-right: 1.5px solid dimgray;
    float: left;
}

.rightBound
{
    border-left: 1.5px solid dimgray;
    float:right;
}

.channelInfo
{
    color: white;
    margin-left: 8px;
    //padding: 4px 8px;
    font-size: 18px;
    margin-top: -4px;
    position:absolute;
    display:inline-block;
    max-width:0%;
    overflow:hidden;
    transition:all 1s ease-in;
    //background: gray;
}

.tabcontent
{
    display: none;
    -webkit-animation: fadeEffect .5s;
}

.hidden
{
    display: none;
}

/* Image filters */
.invert {-webkit-filter: invert(100%); filter: invert(100%);}
